.Notification {
  .notice {
    background-color: #6ed6ff;
    color: #fff;
    text-align: center;
    font-weight: bold;
  }

  .alert {
    background-color: #ff8d4f;
    color: #fff;
    text-align: center;
    font-weight: bold;
  }
}