* {
  box-sizing: border-box;
}

.Header {
  background-color: #abee66;
  height: 60px;
  .HeaderItems {
    height: 60px;
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__title {
      font-size: 30px;
      font-family: "Arial Black";
      color: #948b7e;
    }
    &__user {
      display: flex;
      align-items: center;
    }
    &__name {
      font-size: 17px;
      padding-right: 15px;
      color: #948b7e;
      font-weight: bold;
    }
    &__icon {
      font-size: 25px;
      a {
        text-decoration: none;
        color: #948b7e;
      }
    }
  }
}